body{
    background-color: black;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}

#title{
    color:white;
    font-size: 50px;
    grid-column: 1/6;
    text-align: center;
}


#gameBoard{
    grid-column: 1/6;
    place-self:center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:400px;  
}

/* ------------ Tic Tac Toe Grid Display-------------*/
.box{
    border:2px solid rgb(255, 255, 255);
    height:100px;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:60px;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3){
    border-top:none;
}

.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7){
    border-left:none;
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9){
    border-right:none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9){
    border-bottom:none;
}